.topnav{overflow: hidden; background-color: rgb(237, 109, 100);

width: 1200px;}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:skyblue;
  font-size: 17px;
 
  
}
.topnav a:hover{
  background-color: rgb(229, 236, 236);
  color:deepskyblue;
}


h1 {

   color: rgb(79, 79, 211);  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   text-align:center;
}

h2 {

    color: midnightblue;  
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    text-align: center;
}

P {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

body {
    padding-left: 2cm;
    border: 4px solid slateblue ;
    background-image:url(https://www.teahub.io/photos/full/29-290001_blue-white-paint-abstract-hd-wallpaper-abstract-hd.jpg)
}

.Header{ 

  background-color: rgba(200, 220, 255, 0.589);
  width: 1010px;
  border: 5px solid slateblue;
  padding: 50px;
  margin: 20px;

}

.all {

  background-color: rgba(200, 220, 255, 0.589);
  width: 1010px;
  border: 5px solid slateblue;
  padding: 50px;
  margin: 20px;
  


}

.Body {

  background-color: cadetblue;
  
}

table { 

  width: 95%;
 
}

table,th,td {
  
  border: 1px solid black;
  
}

th,td {

  padding-left: 10px;
}
 
.footer {

  text-align: left;
}
.pic {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.longpar{ 
 
  overflow: scroll;
 
}

.material-icons{
font-size: 30px;
float: left;
margin-left: 590px;
}
 


